@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dark background */ /* Light text */
}

body,
html {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 0.9s ease-in-out infinite;
  }
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.9s ease infinite;
  }
}
